{% extends 'base.html' %}

{% block title %}
    Authors
{% endblock %}

{% block content %}
    <h2>Authors</h2>
    <a class="btn btn-success" href="{% url 'create-author' %}">Create Author</a>
    <hr>
    <ul class="list-group">
    {% for author in authors %}
        <li class="list-group-item"><a href="{% url 'author-details' author.id %}" class="text-success">{{ author.first_name }} {{ author.last_name }}</a></li>
    {% endfor %}
    </ul>
    {% block pagination %}
{% if is_paginated %}
<div class="pagination">
<span class="page-links">
   {% if page_obj.has_previous %}
       <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Previous</a>

   {% endif %}
</span>
<span class="page-current">
    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
</span>
{% if page_obj.has_next %}
    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">Next</a>
{% endif %}
</div>
{% endif %}
{% endblock %}
{% endblock %}